<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div>
		<ul class="nav">
			<li><a href="index.html">HOME</a></li>
			<li><a href="login.html">LOGOUT</a></li>
		</ul>
	</div>
	<div class="cont">
		<div class="post">

			<p>
				<label for="title"><small>Title</small></label>
				<input type="text" name="title" value="" size="22" />
			</p>
			<br/>
			<p>
				<textarea name="text" id="text" cols="70%" rows="15"></textarea>
				<label for="Text" style="display:none;"><small>question (required)</small></label>
			</p>
			<p><input name="submit" type="submit" id="submit" onclick="location.href='view_quest.html';" value="Submit" /></p>
		</div>
	</div>
	 <div class="footer">
	 	<p> Stackoverflow-lite</p>
	 </div>


</body>
</html>