<!DOCTYPE html>
<html>
<head>
	<title>STACKOVERFLOW</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div class="top">
		<ul class="topnav">
			<li><a href="login.html">Logout</a></li>
			<li><a href="index.html">Home</a></li>
		</ul>
	</div>

	 <div class="cont">
	 	<div class="post">

		 	<table>
		 		<tbody>
		 			<th><a href="post_quests.html">The list of questions asked by the user with the most answers</a></th>
		 			<tr class="light">
		 				<td>
		 					<p> How to install ubuntu</p>
		 				</td>
		 				
		 			</tr>
		 			<tr class="dark">
		 				<td>
		 					<p>How to remove a button</p>
		 				</td>
		 				
		 			</tr>
		 			<th><a href="post_quests.html">The list of recent questions asked by the user</a></th>
		 			<tr class="light">
		 				<td>
		 					<p>Use test driven deployment</p>
		 				</td>
		 			</tr>
		 			<tr class="dark">
		 				<td>
		 					<p>uninstall chrome then reinstall</p>
		 				</td>
		 			</tr>
		 		</tbody>
		 	</table>
		 	
		 </div>

		 <div class="footer">
		 	<p> Stackoverflow-lite</p>
		 </div> 

</body>
</html>