<!DOCTYPE html>
<html>
<head>
	<title>STACKOVERFLOW</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
	<div class="topnav">
        <img id = "logo" class="view" src="./css/stack1.png" style="width: 80px;height: 45px" alt="logo" />Stackoverflow-lite
        <a href="login.html" id ="logout">LOGOUT</a>
        <a href="index.html"id = "home">HOME</a>
    </div>

	 <div class="cont">
	 	<div class="post">
	 		<img src="css/avatar.png" class="avatar">
	 		<P id="style">Username: Fifi</P>
	 		<br/>
	 		<table>
	 			<tbody>
	 				<tr class="dark">
	 					<td>
	 						<p id="style">Number of questions asked: 5</p>
	 					</td>
	 					
	 				</tr>
	 			</tbody>
	 		</table>
	 		<br/>
	 		<table>
	 			<tbody>
	 				<tr class="light">
	 					<td>
	 						<p id="style">Number of answers given: 3</p>
	 					</td>
	 					
	 				</tr>
	 			</tbody>
	 		</table>
	 		
	 	</div>
	 	<div class="quests">

		 	<table>
		 		<tbody>
		 			<th><a href="post_quests.html">The list of questions asked by the user with the most answers</a></th>
		 			<tr class="light">
		 				<td>
		 					<p> How to install ubuntu</p>
		 				</td>
		 				
		 			</tr>
		 			<tr class="dark">
		 				<td>
		 					<p>How to remove a button</p>
		 				</td>
		 				
		 			</tr>
		 		</tbody>
		 	</table>
		 	<div class="quest">
		 		<table>
		 			<tbody>
		 				<th><a href="post_quests.html">The list of recent questions asked by the user</a></th>
		 				<tr class="light">
		 					<td>
		 						<p>Use test driven deployment</p>
		 					</td>
		 				</tr>
		 				<tr class="dark">
		 					<td>
		 						<p>uninstall chrome then reinstall</p>
		 					</td>
		 				</tr>
		 			</tbody>
		 		</table>
		 	 </div>

		 <div class="footer">
		 	<p> Stackoverflow-lite</p>
		 </div> 

</body>
</html>